1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

(*, -, /, + ) -> Arthematic Expression (Multiplication, Subtraction, Division, Addition)


'hello'       -> String 

-87.8         -> Float value

6             -> Integer Value

2) What is the difference between string and variable?

A Variable is a to store of value/Information, and a String is a type of information you would store in a Variable. 

for eg name ="Pavan Sekhar" here name is the Variable, Pavan Sekhar is text assignd to it.

3) Describe three different data types.

A data type is an attribute associated with a piece of data that tells a computer system how to interpret its value
eg: Integer, Float, String


Integer -> Numeric data type for numbers without fractions
Float   -> Numeric data type for numbers with fractions
String  -> Sequence of characters, digits, or symbolsâ€”always treated as text

In [1]:
print(f"Integer {type(12)} \n float {type(1.2)} \n String {type('Pavan')}")

Integer <class 'int'>
 float <class 'float'>
 String <class 'str'>

4)What is an expression made up of? What do all expressions do?

Expression is combination of operands and operators. An expression in Python is a combination of operators and operands. An example of expression can be : x = x + 120, y = y + 40

The expression in Python produces some value/result after being interpreted by the Python interpreter.

5) This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

An expression evaluates to a single value. A statement does not.

6) After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

The bacon variable is set to 20. The bacon + 1 expression does not reassign the value in bacon (that would need an assignment statement: bacon = bacon + 1)

In [2]:
bacon=22
bacon =bacon+1
bacon

23

7) What should the values of the following two terms be?
spam + spamspam
spam*3

Both expressions evaluate to the string 'spamspamspam'

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam'*3

'spamspamspam'

8) Why is eggs a valid variable name while 100 is invalid?

Variable names cannot begin with a number.

In [5]:
eggs=1
100=1

SyntaxError: cannot assign to literal (972449777.py, line 2)

9) What three functions can be used to get the integer, floating-point number, or string
version of a value?

The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

In [6]:
type(int('2'))

int

In [7]:
type(float('2.2'))

float

In [8]:
type(str(2.1))

str

10)Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

The expression causes an error because 99 is an integer which is not a string, and only strings can be concatenated to other strings with the + operator. so we need to use str() function

The correct way is I have eaten ' + str(99) + ' burritos.'.

In [9]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'